<section role="main" class="content-body card-margin" style="width: 1250px;">
    <header class="page-header">
        <h2>Form Layouts</h2>
        <div class="right-wrapper text-end">
            <ol class="breadcrumbs">
                <li>
                    <a href="index-2.html">
                        <i class="bx bx-home-alt"></i>
                    </a>
                </li>
                <li>
                    <span>Forms</span>
                </li>
                <li>
                    <span>Layouts</span>
                </li>
            </ol>
            <a class="sidebar-right-toggle" data-open="sidebar-right">
                <i class="fas fa-chevron-left"></i>
            </a>
        </div>
    </header>
    <!-- start: page -->
    <div class="row">
        <div class="col-lg-12">
            <form id="form1" class="form-horizontal">
                <section class="card">
                    <header class="card-header">
                        <div class="card-actions">
                            <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                            <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
                        </div>
                        <h2 class="card-title">Add Delivery</h2>

                    </header>
                    <form #fr="ngForm" (ngSubmit)="Submit(fr)">
                      <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" name="name" class="form-control" [(ngModel)]="name" id="name">
                      </div>
                      <div class="mb-3">
                        <label for="phoneNumber" class="form-label">Phone Number</label>
                        <input type="tel" name="phoneNumber" class="form-control" [(ngModel)]="phoneNumber" id="phoneNumber">
                      </div>
                      <div class="mb-3">
                        <label for="score" class="form-label">Score</label>
                        <input type="number" name="score" class="form-control" [(ngModel)]="score" id="score">
                      </div>
                      <div class="mb-3">
                        <label for="availability" class="form-label">Availability</label>
                        <select class="form-select" aria-label="Default select example" name="availability" [(ngModel)]="availability" id="availability">
                          <option selected>Choose Availability</option>
                          <option value="1">yes</option>
                          <option value="2">no</option>
                        </select>
                      </div>
                      <div class="mb-3">
                        <label for="level" class="form-label">Level</label>
                        <select class="form-select" aria-label="Default select example" name="level" [(ngModel)]="level" id="level">
                          <option selected>Choose Level</option>
                          <option value="1">Bronze</option>
                          <option value="2">Silver</option>
                          <option value="3">Gold</option>
                          <option value="4">Platinum</option>
                        </select>
                      </div>
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </form>

                </section>
            </form>
        </div>

    </div>

    <!-- end: page -->
</section>
