
    		<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/assets/BackOffice/vendor/bootstrap/css/bootstrap.css" />		<link rel="stylesheet" href="/assets/BackOffice/vendor/animate/animate.compat.css">		<link rel="stylesheet" href="/assets/BackOffice/vendor/font-awesome/css/all.min.css" />		<link rel="stylesheet" href="/assets/BackOffice/vendor/boxicons/css/boxicons.min.css" />		<link rel="stylesheet" href="/assets/BackOffice/vendor/magnific-popup/magnific-popup.css" />		<link rel="stylesheet" href="/assets/BackOffice/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.css" />

    <link rel="stylesheet" href="/assets/BackOffice/css/theme.css" />
    <link rel="stylesheet" href="/assets/BackOffice/css/theme.css"/>
    <link rel="stylesheet" href="/assets/BackOffice/css/custom.css">
    <script src="/assets/BackOffice/vendor/modernizr/modernizr.js"></script>

<div class="body">
<app-header-admin></app-header-admin>
  <div class="inner-wrapper">


  <app-side-admin></app-side-admin>
  <div class="content-wrapper">
    <router-outlet></router-outlet>
  </div>
  <app-footer-admin></app-footer-admin>
   <!--  <router-outlet></router-outlet>    <app-footer-admin></app-footer-admin>-->

  </div>

</div>

<!-- Vendor -->
<script src="/assets/BackOffice/vendor/jquery/jquery.js"></script>
<script src="/assets/BackOffice/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
<script src="/assets/BackOffice/vendor/jquery-cookie/jquery.cookie.js"></script>
<script src="master/style-switcher/style.switcher.js"></script>
<script src="/assets/BackOffice/vendor/popper/umd/popper.min.js"></script>
<script src="/assets/BackOffice/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/BackOffice/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="/assets/BackOffice/vendor/common/common.js"></script>
<script src="/assets/BackOffice/vendor/nanoscroller/nanoscroller.js"></script>
<script src="/assets/BackOffice/vendor/magnific-popup/jquery.magnific-popup.js"></script>
<script src="/assets/BackOffice/vendor/jquery-placeholder/jquery.placeholder.js"></script>
<!-- Specific Page Vendor -->
<script src="/assets/BackOffice/vendor/autosize/autosize.js"></script>
<!-- Theme Base, Components and Settings -->
<script src="/assets/BackOffice/js/theme.js"></script>
<!-- Theme Custom -->
<script src="/assets/BackOffice/js/custom.js"></script>
<!-- Theme Initialization Files -->
<script src="/assets/BackOffice/js/theme.init.js"></script>

